/*
Theme Name: Twentytwentyfive Child
Description: Child theme for Twentytwentyfive. You can now safely customize it and not risk losing your customizations.
Author: WPMarmite
Author URI: https://wpmarmite.com
Template: twentytwentyfive
Version: 1.0
*/